{% extends 'home/layout.html.twig' %}

{% block title %}YTS Subtitles
{% endblock %}

{% block MovieList %}
	<div>
		{% for Movie in Movies %}
			{% include "home/movieTile.html.twig" with {'Movie': Movie} %}
		{% endfor %}
	</div>
{% endblock %}

{% block PopularMovies %}
	<div>
		{% include "home/moviePop.html.twig" %}
	</div>
{% endblock %}
