{# <div id="footerDIV_1">
	<footer id="footerFOOTER_2">
		<a href="https://ytsubtitles.com/#" id="footerA_3"></a>
		<div id="footerDIV_4">
			<ul id="footerUL_5">
				<li id="footerLI_6">
					<a href="https://ytsubtitles.com/" id="footerA_7">YTS Subtitles</a>
				</li>
				<li id="footerLI_8">
					<a href="https://ytsubtitles.com/privacy" id="footerA_9">Privacy</a>
				</li>
				<li id="footerLI_10">
					<a href="https://ytsubtitles.com/legal" id="footerA_11">Legal</a>
				</li>
				<li id="footerLI_12">
					<a href="https://ytsubtitles.com/contact" id="footerA_13">Contact Us</a>
				</li>
			</ul>
		</div>
		<div id="footerDIV_14">
			All images and subtitles are copyrighted to their respectful owners unless stated otherwise. This website is not associated with any external links or websites.
		</div>
		<div id="footerDIV_15">
			Built with HTML5 and CSS3 - Copyright © 2016
			<a href="https://ytsubtitles.com/" id="footerA_16">YTS Subtitles</a>
		</div>

	</footer>
</div> #}
